
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #262636;
    color: #eeeeee;
}
.header{
    display: flex;
    height: 15vh;
    border-bottom: 2px solid;
    margin: 0 4rem;

}
.logo{
    width: 10vw;
}
.logoBox{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuNav{
    width: 65%;
    display: flex;
    justify-content: center;
}
.menuList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.menuItem{
    list-style: none;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.mainContainer{
    margin: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}
.mapDescriptionSection{
    width: 45%;
    height: 68vh;
    margin-bottom: 3rem;
}

.titleContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.descTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
} 
.descSubTitle{
    font-family: 'Montserrat', sans-serif;
    
}
.descParagraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
}

.buttonDescription{
    width: 10vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
}
.buttonDescription:hover{
    transform: scale(1.1);
}
.buttonLink{
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    color: #000;

}
.footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid ;
    margin: 3rem 4rem;
}
.footerTitle{
    margin: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.footerContatcsList{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.footerText{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
}