@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
}

body {
    background-color: #262636;
    display: flex;
    flex-direction: column;
    color: #eeeeee;
    max-width: 1200px;
    min-width: 1200px;
}

.header {
    display: flex;
    padding-top: 32px;
    padding: 32px 80px 0 80px;
}

.logo {
    width: 80px;
}

.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuNav {
    width: 65%;
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.menuItem {
    list-style: none;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    flex: 1;
}

.mapDescriptionSection {
    width: 60%;
    /* height: 68vh; */
    margin-bottom: 3rem;
}

.mapDescriptionSectionRight {
    width: 40%;
    height: 500px;
    animation: fadeInShape 1s ease-in-out;

    width: 1080px;
    height: 500px;
    background-image: url("./assets/shapebxd_resized.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -40%;
}   

.titleContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 24px;
}

.descTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

.descSubTitle {
    font-family: 'Montserrat', sans-serif;
    animation: fadeInTitle 1s ease-in-out;

}

.descParagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
    animation: fadeInParagraph 1s ease-in-out;
}

.buttonDescription {
    height: 64px;
    width: 128px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonDescription:hover {
    transform: scale(1.1);
}

.buttonLink {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    color: #000;

}

.footer {
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    /* border-top: 2px solid; */
}

.footerTitle {
    margin: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.footerContatcsList {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.footerContatcsList li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footerText {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 1rem 0;
}
@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInParagraph {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInShape{
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}