
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    height: 15vh;
    border-bottom: 2px solid;
    margin: 0 4rem;

}
.logo{
    width: 10vw;
}
.logoBox{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuNav{
    width: 65%;
    display: flex;
    justify-content: center;
}
.menuList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.menuItem{
    list-style: none;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}